<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="form_box">
            <form action="#" method="POST">
                <div id="box_name_input">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name">
                </div>
                <div id="box_password_input">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <div id="chatpcha_container">
                    <p>Verifica si eres Humano</p>
                    <div id="chatpcha_box">
                        <div id="mostrar_captcha"></div>
                    </div>
                    <input type="text" name="captcha" id="captcha">
                </div>
                <div id="box_submit">
                    <input type="submit" value="Enviar" id="enviar">
                </div>
            </form>
            <span id="show_error"></span>
        </div>
    </main>
    <script src="../Assets/js/index.js"></script>
</body>
</html>